.theme_V_item{
    border: 2px white solid;
    overflow: hidden;


    table {
            border: white 1px solid;
            text-align: center;
    
            td,
            th {
                border: white 1px solid;
                padding: 0.75rem 1.5rem;
            }
        }

    .theme_V-text{
        position: relative;
        z-index: 2;
    }
        
}
