@charset "UTF-8";
section.header {
  background: linear-gradient(to top, rgb(0, 0, 0), transparent, transparent);
}
section.header nav ul li {
  font-weight: 200;
  text-shadow: -2px 2px 1px black;
  transition: 0.6s;
}
section.header nav ul li:hover {
  color: orange;
  font-weight: 600;
  text-shadow: 4px 4px 5px black;
}
section.header img.hero {
  transition: 0.6s;
}

.theme_I_i h1, .theme_I_i span, .theme_I_i nav {
  position: relative;
  z-index: 2;
}

.shutter,
.aperture,
.iso,
.result {
  align-items: center;
  justify-content: start;
}
.shutter div,
.shutter h3,
.shutter p,
.shutter ul,
.shutter li,
.aperture div,
.aperture h3,
.aperture p,
.aperture ul,
.aperture li,
.iso div,
.iso h3,
.iso p,
.iso ul,
.iso li,
.result div,
.result h3,
.result p,
.result ul,
.result li {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: start;
}

.shutter, .aperture, .iso {
  transition: 1s;
  max-width: 90vw;
}

li {
  transition: all 0.6s;
}
li:hover {
  color: orangered;
}

.theme_I_open {
  transition: all 1s;
}
.theme_I_open h3 {
  transition: all 1s;
  font-size: 4rem;
  position: relative;
  z-index: 1;
}
.theme_I_open p,
.theme_I_open li,
.theme_I_open span {
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}
.theme_I_open ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.theme_I_close h3 {
  font-size: 2rem;
  position: relative;
  z-index: 1;
}
.theme_I_close p,
.theme_I_close li,
.theme_I_close span {
  font-size: 1rem;
  position: relative;
  z-index: 1;
}
.theme_I_close ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggle {
  position: relative;
  z-index: 1;
  width: 90vw;
}

.not-toggle {
  position: relative;
  z-index: 0;
  width: 30vw;
}

section.theme_II_item {
  position: relative;
  transition: 0.6s;
  color: white;
  cursor: pointer;
}
section.theme_II_item h1, section.theme_II_item h3 {
  position: relative;
  z-index: 1;
  text-shadow: 4px 4px 5px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
section.theme_II_item ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.theme_II_item ul li {
  transition: all 0.6s;
}
section.theme_II_item ul li:hover {
  color: orangered;
}
section.theme_II_item ul li a {
  font-size: 1.25rem;
}
section.theme_II_item p, section.theme_II_item nav, section.theme_II_item span, section.theme_II_item ul, section.theme_II_item table, section.theme_II_item .theme_context_item {
  position: relative;
  z-index: 1;
}
section.theme_II_item .theme_context {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.theme_II_item .theme_context_item {
  transition: 0.6s;
}
section.theme_II_item table {
  transition: 0.6s;
  width: 80%;
  text-align: center;
  border: 1px white solid;
}
section.theme_II_item table td, section.theme_II_item table th {
  border: 1px white solid;
  padding: 0.75rem 0.5rem;
}
section.theme_II_item table thead tr {
  border: 1px white solid;
  background: #808080;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-size: 1.15rem;
  font-weight: 600;
}
section.theme_II_item table tbody tr {
  border: 1px white solid;
}
section.theme_II_item table tbody td:hover :nth-child(odd) {
  background: navy;
}

.theme_III_item {
  transition: all 0.6s ease;
  height: 100%;
}

.theme_III_i li, .theme_III_text li {
  transition: all 0.6s;
}
.theme_III_i li:hover, .theme_III_text li:hover {
  color: orangered;
}

.theme_III_text {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.themeIV li {
  transition: all 0.6s;
}
.themeIV li:hover {
  color: orangered;
}
.themeIV table {
  border: white 1px solid;
  text-align: center;
}
.themeIV table td, .themeIV table th {
  border: white 1px solid;
  padding: 1rem 0.75rem;
}

.theme_IV_item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: 0.6s;
  overflow: hidden;
}
.theme_IV_item .theme_iv_text {
  transform: translate(0rem, 0rem);
  border: 1px solid transparent;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;
}
.theme_IV_item .theme_iv_text h3 {
  transition: all 0.6s ease-in-out;
  font-size: 1.5rem;
}
.theme_IV_item .theme_iv_text .description {
  opacity: 0;
  transition: all 0.6s ease;
  font-size: 1rem;
}
.theme_IV_item:hover .theme_iv_text {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}
.theme_IV_item:hover .theme_iv_text h3 {
  font-size: 2rem;
}
.theme_IV_item:hover .theme_iv_text .description {
  opacity: 1;
}
.theme_IV_item:hover .theme_IV_item-text {
  z-index: 1;
  scale: 0.8;
  transform: rotate(-15deg) translateX(100px) translateY(150px);
  filter: blur(2px);
}
.theme_IV_item .theme_IV_item-text {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  min-width: 25rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1.2s ease;
  filter: brightness(1);
}

.bg-radial {
  position: absolute;
  pointer-events: none;
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgb(0, 0, 0));
  top: 0;
  left: 0;
}

.theme_V_item {
  border: 2px white solid;
  overflow: hidden;
}
.theme_V_item table {
  border: white 1px solid;
  text-align: center;
}
.theme_V_item table td,
.theme_V_item table th {
  border: white 1px solid;
  padding: 0.75rem 1.5rem;
}
.theme_V_item .theme_V-text {
  position: relative;
  z-index: 2;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
html .theme_I_i,
html .theme_II_i,
html .theme_III_i,
html .theme_IV_i,
html .theme_V_i, body .theme_I_i,
body .theme_II_i,
body .theme_III_i,
body .theme_IV_i,
body .theme_V_i {
  padding: 4rem !important;
}
html .theme h1, body .theme h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 900;
}
html .theme h3, body .theme h3 {
  font-size: 2rem;
}
html .theme li::before, body .theme li::before {
  content: "🔸";
}
html .theme section, body .theme section {
  height: 100%;
}

.h3-span {
  font-size: 1.15rem;
}

.theme_context {
  padding: 2rem;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */